# C++ / Compilación y Binarios
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.a
*.lib

# Ignorar ejecutables sin extensión comunes
cos
Práctica_*
!Práctica_*.c++
!Práctica_*.cpp

# Directorios de compilación y CMake
build/
cmake-build-*/
out/
bin/
lib/
CMakeCache.txt
CMakeFiles/
CMakeDB/
CMakeLists.txt.user
Makefile
cmake_install.cmake
ctest.cmake

# IDEs (VSCode y CLion)
.idea/
.vscode/
*.iws
*.iml
*.ipr
*.code-workspace

# Sistema Operativo y Temporales
*~
*.swp
*.swo
*.tmp
.DS_Store
Thumbs.db
